<div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-12">
          <img class="hero" src="">
        </div>
      </div class="section-center">
      <h1>Book Summaries</h1>

      <form method="GET" action="/articles">
        <label for="nameFilter">Search by Title</label>
        <input id="nameFilter" type="text" name="nameFilter">
        <input type="submit">
      </form>
      <div>
        <% articles.forEach(a => { %>
        <div class="container">
          <H2>
          <a href="/articles/<%= a.id %>"><%= a.title %>
            <small>by <%= a.author.getFullName() %></small>
              <form method="POST" action="/articles/<%= a.id %>?_method=DELETE">


                  <button type="submit" value="Delete" class="btn " >Remove Article </button>
                  <button class="btn" ><a href="/articles/edit/<%= a.id %>">Edit</a></button>

    
              </form>
          </H2>
          <p>
            <strong><%= moment(a.createdAt).calendar() %></strong>
          </p>
        </div>
        <% }); %>
      </div>
  
    </div>
    <div class="col-sm-4">
      <h2>About</h2>
      <p>Books! Find, Add, Summarize!</p>
    </div>
  </div>
  