<div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-12">
          <img class="hero" src="">
        </div>
      </div>
      <h1>Latest Book Summaries</h1>

      <form method="GET" action="/articles">
        <label for="nameFilter">Filter by Name</label>
        <input id="nameFilter" type="text" name="nameFilter">
        <input type="submit">
      </form>
      <div>
        <% articles.forEach(a => { %>
        <div class="well">
          <H2>
          <a href="/articles/<%= a.id %>"><%= a.title %>
            <small>by <%= a.author.getFullName() %></small>
              <form method="POST" action="/articles/<%= a.id %>?_method=DELETE">
                <div>
                  <button type="submit" value="Delete" class="btn btn-outline-danger" >
                  Remove Article
                  </button>
                  <button class="btn btn-outline-danger" >
                    <a href="/articles/edit/<%= a.id %>">Edit</a>
                  </button>
                </div>
              </form>
          </H2>
          <p>
            <strong><%= moment(a.createdAt).calendar() %></strong>
          </p>
        </div>
        <% }); %>
      </div>
  
    </div>
    <div class="col-sm-4">
      <h2>About</h2>
      <p>Books! Find, Add, Summarize!</p>
    </div>
  </div>
  