<img class="container" src="https://static.boredpanda.com/blog/wp-content/uploads/2016/04/funny-fake-book-covers-nyc-subway-prank-scott-rogowsky-1.gif">
<div class="container">
    <h3>my favorites</h3>
    
    <% faveBooks.forEach(book => { %>
        <% if(book.dataValues.userId === user.id){ %>
        <div class="container">
            <h3><%= book.dataValues.title %></h3>
            <p><%= book.dataValues.subtitle %></p>
            <p><%= book.dataValues.authors %></p>
            <p><%= book.dataValues.description %></p>
            <img src="<%= book.dataValues.bookCover%>" alt="cover of <%= book.dataValues.title %>">
            <form method="POST" action="/remove/<%= book.dataValues.id %>?_method=DELETE">
                <button class="btn btn-container" >⚠️ ‼️ Remove ‼️ ⚠️</button>
            </form>
        </div>
    <% }}) %>
    </div>